<style>

.leftcolumn {
  float: left;
  width: 70%;
}

.rightcolumn {
  float: left;
  width: 30%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: white;
  width: 100%;
  padding: 20px;
}
/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* A black button cause I have no style*/

.button{
  background-color: white;
  padding: 16px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  color: black;
  border: 2px solid #555555;
}

.button:hover {
  background-color: #555555;
  color: white;
  border-radius: 8px;
}
</style>
<body>
<div class="row">
  <div class="leftcolumn">
    <div class="card">
     <h2>Title: <%= @book.title%></h2>
     <h5>Author: <%= @book.author%></h5>
     <%= image_tag @book.book_img%>
     <br>
     <h5>Price: <%= @book.price%>€</h5>
     <br>
     <h6>Genre: <%= @book.genre%></h6>
     <br>
     <h6>Description: <%= @book.description%></h6>
     <br>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>The seller</h2>
      <div class="fakeimg" style="height:150px">
      <%=image_tag @book.profile_img%>
      </div>
      <br>
      <p><%=@book.seller%></p>
    </div>
    <div class="card">
      <h3>Buy</h3>

      <%=  link_to "Profile",  book_orders_new_path(@book.id), method: :post%>
      <!-- <button class="button">Buy</button> -->
      <br>
    </div>
    <div class="card">
      <h3>Contact the Seller</h3>
      <button class="button">Say hi</button>
      <br>
    </div>
  </div>
</div>
</body>

