<div class="row">
  <div class="leftcolumn">
    <div class="card">
     <h2>Title: <%= @book.title%></h2>
     <h5>Author: <%= @book.author%></h5>
     
     <br>
     <h5>Price: <%= @book.price%>$</h5>
     <br>
     <h6>Genre: <%= @book.genre%></h6>
     <br>
     <h6>Description: <%= @book.description%></h6>
     <br>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>The seller</h2>
      <div class="fakeimg" style="height:150px">
      </div>
      <br>
      <p><%=@book.seller%></p>
    </div>


    <div class="card">
      <h3>Contact the Seller</h3>
      <button class="button">Buy</button>
      <br>
      <h3>Do you like it?</h3>
      <%= simple_form_for [@book,@order] do |f|%>
      <%= f.submit "Buy", class: "btn btn-primary" %>
      <% end %>
      <br>
    </div>
    <div class="card">
      <h3>Any doubts?</h3>
      <button type="button" class="button">Say Hi</button>
    </div>
  </div>
</div>

